<template>
  <article class="detail-poster" @click="reload">
        <div class="detail-poster__image" :style="`background: url(${checkImage(poster.image)}) no-repeat center;background-size: cover`"></div>
        <div class="detail-poster__inside-wrapper">
            <p class="detail-poster__title">{{poster.title}}</p>
        </div>
  </article>
</template>

<script>
    export default {
        name: "DetailPoster",
        props: {
            poster: {
                required: true,
                type: Object
            }
        },
        methods: {
            checkImage(image){
                image = image ?? require('../../assets/temp/logo.png')
                return image
            },
          reload(){
            this.$router.push(`/detailposters${this.poster.id}`)
            window.location.reload();
          }
        }
    }
</script>

<style scoped lang="scss">

.detail-poster {
    text-decoration: none;
    color: black;
    width: 20vw;
    height: max-content;
    margin: 2vw 0 0 0;
  cursor: pointer;

    &__image {
        width: 20vw;
        height: 16vw;
        border-radius: .7vw;
    }

    &__title {
        font-size: 1.25vw;
        font-weight: 500;
        margin: .6vw 0 0 .6vw;
    }
}
</style>
