<template>
    <div class="posters-filter">
        <div class="posters-filter__inside-wrapper">
            <input placeholder="Поиск по афишам" class="posters-filter__search" v-model="key"/>
            <button @click="search" class="search-button">Поиск</button>
          <div class="posters-filter__sort">
                <p class="posters-filter__text">Сортировать по дате:</p>
                <div class="label-wrapper">
                    <input name="filter_radio" type="radio" id="cb-date-up" class="checkbox-radio" @click="sortDateUp()"> <label for="cb-date-up">По возрастанию</label>
                </div>
                <div class="label-wrapper">
                    <input name="filter_radio" type="radio" id="cb-date-down" class="checkbox-radio" @click="sortDateLow()"><label for="cb-date-down">По убыванию</label>
                </div>
            </div>
            <div class="posters-filter__sort">
                <p class="posters-filter__text">Сортировать по цене:</p>
                <div class="label-wrapper">
                    <input name="filter_radio" type="radio" id="cb-price-up" class="checkbox-radio" @click="sortPriceUp()"> <label for="cb-price-up">По возростанию</label>
                </div>
                <div class="label-wrapper">
                    <input name="filter_radio" type="radio" id="cb-price-down" class="checkbox-radio" @click="sortPriceLow()"> <label for="cb-price-down">По убыванию</label>
                </div>
            </div>
            <div class="posters-filter__sort">
                <p class="posters-filter__text">Сортировать по категориям:</p>
                <div class="posters-filter__categories">
                    <div @click="selectCategory(item)" v-for="(item,index) in categories" :key="`item${index}`" :class="{active : item.isActive}">
                        <p>{{item.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {dateFormat} from "../../store/date";
    import posterService from "../../services/posterService";
    import favotiteService from "../../services/favotiteService";

    export default {
        name: "PostersFilter",
        data(){
            return {
              key: "",

                categories: [
                    {title: 'Кино', isActive: false, id: 1},
                    {title: 'Спектакли', isActive: false, id: 2},
                    {title: 'Выставки', isActive: false, id: 3},
                    {title: 'Библиотеки', isActive: false, id: 4},
                    {title: 'Фестивали', isActive: false, id: 5},
                    {title: 'Музеи', isActive: false, id: 6},
                    {title: 'Концерты', isActive: false, id: 7},
                ],
                posts:[]
            }
        },
        methods: {
            selectCategory(category){
                category.isActive = !category.isActive
                this.$emit('category',
                    {
                        categoryId: category.id,
                        categoryIsActive: category.isActive,
                    }
                )
            },
            sortDateUp(){
                this.$emit('sortDateUp')
            },
            sortDateLow(){
                this.$emit('sortDateLow')
            },
            sortPriceUp(){
                this.$emit('sortPriceUp')
            },
            sortPriceLow(){
                this.$emit('sortPriceLow')
            },
            async search(){
                this.$emit('search', this.key)
            }
        },
      async mounted() {
        this.posts = await posterService.getAll(0)
      }
    }
</script>

<style scoped lang="scss">
    @import "@/assets/styles/variables.scss";

    .checkbox-radio {
        width: 1vw;
      cursor: pointer;
    }

    .label-wrapper {
        display: flex;
        align-items: center;
        margin-left: 1vw;

        label {
            line-height: 1.5vw;
            font-size: .93vw;
          cursor: pointer;
        }
    }

    .posters-filter {
      width: 30vw;
      height: 100%;
      border: 2px solid $blue;
      border-radius: 15px;

      &__inside-wrapper {
        margin: 1vw auto;
        width: 80%;
      }

      &__search {
        border-radius: 10px;
        width: 20vw;
        padding: .52vw 1.04vw;
        margin-bottom: 1vw;
        border: 1px solid $blue;
      }

      .search-button{
        background: none;
        padding: .26vw 1.04vw;
        border: 1px solid $blue;
        border-radius: 10px;
        font-size: .94vw;
        font-weight: 500;
        cursor: pointer;
        transition: .2s;

        &:hover{
          background: $blue;
          color: $yellow;
        }
      }

      &__text {
        margin: 1vw 0 .5vw 0;
        font-size: .93vw;
      }

      &__categories {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: .3vw .5vw;
          margin: .2vw;
          width: max-content;
          background-color: $yellow;
          cursor: pointer;
        }
      }
    }

    .active {
        border: 0.1vw solid black;
    }
</style>
