<template>
  <div class="all-posters" v-if="show">
    <posters-filter @search="search" @category="categoryFilter" @sortDateUp="sortDateUp()" @sortDateLow="sortDateLow()" @sortPriceUp="sortPriceUp()" @sortPriceLow="sortPriceLow()"></posters-filter>
    <div class="container-posts" v-if="posts_filter.length === 0">
      <div v-for="(item, index) in posts" class="posters">
        <poster :slide="item" :width="12" :height="10" :key="`${index}`"></poster>
      </div>
    </div>
    <div class="container-posts" v-else>
      <div v-for="(item, index) in posts_filter" class="posters">
        <poster :slide="item" :width="12" :height="10" :key="`${index}`"></poster>
      </div>
    </div>
  </div>


</template>

<script>
import Poster from "../components/Poster";
import PostersFilter from "@/components/Posters/PostersFilter";
import {dateFormat} from "../store/date";
import posterService from "../services/posterService";
import favotiteService from "../services/favotiteService";

export default {
  name: "AllPosters",
  data() {
    return {
      posts: [],
      show: false,
      posts_filter: [],
    }
  },
  methods: {
    categoryFilter(categoryInfo){
      if (categoryInfo.categoryIsActive) {
        this.posts.forEach((item)=> {
          if (item.cat_id === categoryInfo.categoryId) {
            this.posts_filter.push(item)
          }
        });
      } else {
        this.posts_filter = this.posts_filter.filter((item)=> {
          return item.cat_id !== categoryInfo.categoryId
        })
      }
      this.show = false
      this.$nextTick()
      this.show = true
    },
    sortDateUp() {
      if(this.posts_filter.length) {
        let i = 1
        let a
        while (i < this.posts_filter.length) {
          if (i) {
            if (this.posts_filter[i].date.lower < this.posts_filter[i - 1].date.lower) {
              a = this.posts_filter[i]
              this.posts_filter[i] = this.posts_filter[i - 1]
              this.posts_filter[i - 1] = a
              i--
            } else i++
          } else i++
        }
      } else {
        let i = 1
        let a
        while (i < this.posts.length) {
          if (i) {
            if (this.posts[i].date.lower < this.posts[i - 1].date.lower) {
              a = this.posts[i]
              this.posts[i] = this.posts[i - 1]
              this.posts[i - 1] = a
              i--
            } else i++
          } else i++
        }
      }

      // for (let i = 0; i < this.posts.length; i++) {
      //   console.log(this.posts[i].date.lower.date_filter, this.posts[i].title, this.posts[i].image)
      // }
      this.show = false
      this.$nextTick()
      this.show = true
    },
    async search(key) {
      this.posts = await posterService.getSearch(key)
    },
    sortDateLow() {
      if(this.posts_filter.length) {
        let i = 1
        let a
        while (i < this.posts_filter.length) {
          if (i) {
            if (this.posts_filter[i].date.lower > this.posts_filter[i - 1].date.lower) {
              a = this.posts_filter[i]
              this.posts_filter[i] = this.posts_filter[i - 1]
              this.posts_filter[i - 1] = a
              i--
            } else i++
          } else i++
        }
      } else {
        let i = 1
        let a
        while (i < this.posts.length) {
          if (i) {
            if (this.posts[i].date.lower > this.posts[i - 1].date.lower) {
              a = this.posts[i]
              this.posts[i] = this.posts[i - 1]
              this.posts[i - 1] = a
              i--
            } else i++
          } else i++
        }
      }

      // for (let i = 0; i < this.posts.length; i++) {
      //   console.log(this.posts[i].date.lower.date_filter, this.posts[i].title, this.posts[i].image)
      // }
      this.show = false
      this.$nextTick()
      this.show = true
    },
    sortPriceUp(){
      if (this.posts_filter.length) {
        let i = 1
        let a
        while (i < this.posts_filter.length) {
          if (i) {
            if (this.posts_filter[i].price < this.posts_filter[i - 1].price) {
              a = this.posts_filter[i]
              this.posts_filter[i] = this.posts_filter[i - 1]
              this.posts_filter[i - 1] = a
              i--
            } else i++
          } else i++
        }
      } else {
          let i = 1
          let a
          while (i < this.posts.length) {
            if (i) {
              if (this.posts[i].price < this.posts[i - 1].price) {
                a = this.posts[i]
                this.posts[i] = this.posts[i - 1]
                this.posts[i - 1] = a
                i--
              } else i++
            } else i++
          }
        }

      this.show = false
      this.$nextTick()
      this.show = true
    },
    sortPriceLow(){
      if (this.posts_filter.length) {
        let i = 1
        let a
        while (i < this.posts_filter.length) {
          if (i) {
            if (this.posts_filter[i].price > this.posts_filter[i - 1].price) {
              a = this.posts_filter[i]
              this.posts_filter[i] = this.posts_filter[i - 1]
              this.posts_filter[i - 1] = a
              i--
            } else i++
          } else i++
        }
      } else {
        let i = 1
        let a
        while (i < this.posts.length) {
          if (i) {
            if (this.posts[i].price > this.posts[i - 1].price) {
              a = this.posts[i]
              this.posts[i] = this.posts[i - 1]
              this.posts[i - 1] = a
              i--
            } else i++
          } else i++
        }
      }

      this.show = false
      this.$nextTick()
      this.show = true

    }
  },
    components: {Poster, PostersFilter},
  async mounted(){
    this.posts = await posterService.getAll(0)
    if(localStorage.token !== ""){
      const k = await favotiteService.getFavorite()
      for(let i = 0; i <this.posts.length; ++i){
        let flag = false
        for(let p = 0; p < k.length; ++p) {
            if (k[p].poster_id === this.posts[i].id) {
              flag = true
              break
            }
        }
        this.posts[i].is_liked = flag
      }
    }
    this.show=true
  }
  }
</script>

<style scoped lang="scss">
@import "src/assets/styles/variables";

.title{
  font-size: 2vw;
}
.container-slider{
  margin-top: 3vw;
  h2{
    margin-bottom: 1vw;
    font-size: 1.77vw;
    color: $black;
  }
}
.posters{
  width: 13vw;
  margin: 2vw;
}
.container-posts{
  width: 85vw;
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
}

  .all-posters {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: 0 auto;

    .posters-filter {
      margin-top: 5vw;
    }
  }
</style>
