<template>
  <div class="container">
    <div class="container-slider">
      <h2>На этой недели</h2>
      <slider :data="posts" v-if="show"></slider>
    </div>

    <h2 class="title" v-if="show">{{title[0].title}}</h2>

    <div class="container-posts" >
      <div v-for="item in data" class="posters">
        <poster :slide="item" class="slide" :width="12" :height="10" v-if="show"></poster>
      </div>
    </div>
    <div class="container-button">
      <button @click="AddPosts">Показать ещё</button>
    </div>
  </div>
</template>

<script>
import Poster from "../components/Poster";
import Slider from "../components/Slider";
import posterService from "../services/posterService";
import favotiteService from "../services/favotiteService";

export default {
  name: "Categories",
  data(){
    return{
      posts:[],
      data:[],
      skip: 0,
      take: 12,
      show: false,
      title: ''
    }
  },
  methods:{
   async AddPosts() {
     this.skip = this.take
     this.take += 12
     let c = await posterService.getAll(this.skip, this.take, this.$route.params.id)
     for(let i = 0; i < c.length; ++i){
       this.data.push(c[i])
     }
   }
  },
  async mounted(){
    this.posts = await posterService.getAll(0, 6  , this.$route.params.id)
    this.data = await posterService.getAll(this.skip, this.take, this.$route.params.id)
    this.title = await posterService.getCategory(this.$route.params.id)
    console.log(this.title)
    if(localStorage.token !== ""){
      const k = await favotiteService.getFavorite()
      for(let i = 0; i <this.posts.length; ++i){
        let flag = false
        for(let p = 0; p < k.length; ++p) {
            if (k[p].poster_id === this.posts[i].id) {
              flag = true
              break
            }

        }
        this.posts[i].is_liked = flag
      }
      for(let i = 0; i <this.data.length; ++i){
        let flag = false
        for(let p = 0; p < k.length; ++p) {
            if (k[p].poster_id === this.data[i].id) {
              flag = true
              break
            }
        }
        this.data[i].is_liked = flag
      }
    }
    this.show = true
  },
  components:{Poster, Slider}
}
</script>

<style scoped lang="scss">
@import "src/assets/styles/variables";
.title{
  font-size: 2vw;
  margin: 0 0 0 auto;
}
.container-slider{
  margin-top: 3vw;
  overflow: hidden;
  h2{
    margin-bottom: 1vw;
    font-size: 1.77vw;
    color: $black;
  }
}
.container-posts{
  margin-top: 3vw ;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12vw, 2fr));
  grid-gap: 0.2vw;
  counter-reset: rank;
}
.container-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  button{
    width: auto;
    border: 1px;
    border-radius: 10px;
    background-color: $yellow;
    opacity: 0.8;

    font-family: "YS Text", Arial, sans-serif;
    font-size: 0.83vw;

    padding: 0.5vw 1vw 0.5vw 1vw;
    margin-top: 2vw;
  }
  button:hover{
    opacity: 1;
  }
  button:active{
    opacity: 0.8;
  }
}
.slide{
  margin-bottom: 1vw;
}

@media (max-width: 768px) {
  .title{
    font-size: 4vw;
    margin-top: 3vw;
  }
  .container-slider{
    margin-top: 3vw;
    overflow: hidden;
    h2{
      margin-bottom: 1vw;
      font-size: 1.77vw;
      color: $black;
    }
  }
  .container-posts{
    margin-top: 3vw ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 2fr));
    grid-gap: 0.2vw;
    counter-reset: rank;
  }
  .container-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
      width: auto;
      border: 1px;
      border-radius: 10px;
      background-color: $yellow;
      opacity: 0.8;

      font-family: "YS Text", Arial, sans-serif;
      font-size: 0.83vw;

      padding: 0.5vw 1vw 0.5vw 1vw;
      margin-top: 2vw;
    }
    button:hover{
      opacity: 1;
    }
    button:active{
      opacity: 0.8;
    }
  }
  .slide{
    margin-bottom: 1vw;
  }

}
</style>
