<template>
    <div class="detail-posters container">
        <div class="detail-posters__wrapper">
            <router-link to="/" class="detail-posters__back-link">Вернуться назад</router-link>
            <p class="detail-posters__title">{{poster.title}}</p>
            <div class="detail-posters__image" :style="`background: url(${poster.image}) no-repeat;background-size: cover`"></div>
            <p class="detail-posters__description">{{poster.description }}</p>
            <div class="detail-posters__price-wrapper">
                <p class="detail-posters__price">{{priceCheck(poster.price)}}</p>
            </div>
            <div class="detail-posters__info">
                <p>{{poster.address}}</p>
                <div>
                    <p>Начало: {{date_lower}}</p>
                    <p>Конец: {{date_upper}}</p>
                </div>
            </div>
        </div>

        <div class="detail-posters__recommendation">
            <p class="detail-posters__text-recom">Смотрите также:</p>
            <detail-poster v-for="(item, index) in recommendation" :key="`poster_item${index}`" :poster="item"></detail-poster>
        </div>
    </div>
</template>

<script>
    import DetailPoster from "@/components/Posters/DetailPoster";
    import posterService from "../services/posterService";

    export default {
        name: "DetailPosters",
        data(){
            return {
                poster: {},
                date_upper: "",
                date_lower: "",
                recommendation:{}

            }
        },
        methods: {
          priceCheck(price){
              price === 0 ? price = 'Бесплатно' : price = `Цена: ${price}₽`
              return price
          }
        },
      async mounted(){
        this.poster = await posterService.getDetail(this.$route.params.id)
        this.date_lower = this.poster.date.lower
        this.date_upper = this.poster.date.upper
        this.recommendation = this.poster.recommendation[0]
      },
        components: {
            DetailPoster
        }
    }
</script>

<style lang="scss" scoped>
    @import "@/assets/styles/variables.scss";

    .container{
        width: 90vw;
        margin: 0 auto;
    }

//Wrapper

.detail-posters {
    display: flex;
    justify-content: space-between;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__back-link {
        margin: 2vw auto 2vw 0;
        font-size: .93vw;
        font-weight: 500;
        color: #808080;
        text-decoration: none;

      &:before{
        content: '←';
        display: inline-block;
        margin-right: .52vw;
      }
    }

    &__title {
        font-size: 1.25vw;
        color: rgba(0, 0, 0, 0.96);
        font-weight: 600;
    }

    &__image {
        width: 54vw;
        height: 54vw;
        margin-top: 1vw;
    }

    &__description {
        font-size: .93vw;
      line-height: 170%;
        color: rgba(0, 0, 0, 0.96);
        width: 50vw;
        padding: 1vw 0;
    }

    &__info {
        width: 54vw;
        display: flex;
        justify-content: space-between;
        padding: .4vw 0 2vw 0;

        p {
            font-size: .93vw;
            color: #808080;
        }
    }

    &__price-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1vw auto 1vw 0;
        padding: .52vw 1.56vw;
        background-color: $yellow;
        border-radius: 1vw;
        cursor: pointer;
    }

    &__price {
        font-size: 0.93vw;
        font-weight: 600;
    }
}

//Recommendation

.detail-posters {
    &__text-recom {
        font-size: 1.25vw;
        color: rgba(0, 0, 0, 0.96);
        font-weight: 600;
    }

    &__recommendation {
        display: flex;
        flex-direction: column;
        width: 16vw;
        margin: 5vw 5vw 0 0;
    }
}
</style>
