<template>
  <div class="all-posters" v-if="show">
    <div class="container-posts">
      <div v-for="(item, index) in posts" class="posters">
        <poster :slide="item" :width="12" :height="10" :key="`${index}`"></poster>
      </div>
    </div>
  </div>
</template>

<script>
import Poster from "../components/Poster";
import posterService from "../services/posterService";
import favotiteService from "../services/favotiteService";

export default {
  name: "Favorite",
  data() {
    return {
      posts: [],
      show: false
    }
  },
  components: {Poster},
  async mounted(){
    const c = await favotiteService.getFavorite()
    for(let i = 0; i < c.length; ++i){
      c[i].poster[0].is_liked=true
      this.posts.push(c[i].poster[0])
    }
    this.show=true
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/styles/variables";

.title{
  font-size: 2vw;
}
.container-slider{
  margin-top: 3vw;
  h2{
    margin-bottom: 1vw;
    font-size: 1.77vw;
    color: $black;
  }
}
.posters{
  width: 13vw;
  margin: 2vw;
}
.container-posts{
  width: 85vw;
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
}

.all-posters {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin: 0 auto;

  .posters-filter {
    margin-top: 5vw;
  }
}
</style>
