<template>
  <div class="container">
    <section class="container-slider">
      <h2>Мероприятия в ближайшие дни</h2>
      <slider :data="data_act" v-if="show"></slider>
    </section>
    <section v-for="(categories, index) in data" class="sliders">
       <title-categoties :id="cater_title[index].id" ref="title" :title="cater_title[index].title"></title-categoties>
        <div>
        <slider :data="categories" v-if="show"></slider>
      </div>
    </section>

  </div>
</template>

<script>
import Slider from "@/components/Slider";
import TitleCategoties from "../components/Home/TitleCategoties";
import posterService from "../services/posterService";
import favotiteService from "../services/favotiteService";


export default {
  name: 'Home',
  data(){
    return{
      data_act:[],
      data: [],
      cater_title:[],
      arrowShow: [false, false],
      show:false
    }
  },
  components:{Slider, TitleCategoties},
  async mounted(){
     let c = await posterService.getMainAll();
     this.data_act = await posterService.getAll(0, 6)
     this.cater_title = c.category
    for(let i in c){
      if(i !== "category") {
        this.data.push(c[i])
      }
    }
    if(localStorage.token !== ""){
      const k = await favotiteService.getFavorite()
      for(let i = 0; i <this.data_act.length; ++i){
        let flag = false
        for(let p = 0; p < k.length; ++p) {
            if (k[p].poster_id === this.data_act[i].id) {
              flag = true
              break
            }
        }
        this.data_act[i].is_liked = flag
      }
      for(let i = 0; i < this.data.length; ++i){
        for(let j = 0; j < this.data[i].length; ++j){
          let flag = false
          for(let p = 0; p < k.length; ++p){
              if(k[p].poster_id === this.data[i][j].id){
                flag = true
                break
              }
          }
          this.data[i][j].is_liked = flag
        }
      }
    }
    this.show = true
  }
}
</script>

<style lang="scss">
@import "src/assets/styles/variables";
.container-slider{
  margin: 3vw 0;

  h2{
    margin-bottom: 1.2vw;
    font-size: 1.77vw;
    color: $black;
  }
}

.sliders{
  margin-bottom: 3vw;
}

@media (max-width: 768px) {
  .container-slider{
    margin: 5vw 0;

    h2{
      margin-bottom: 2vw;
      font-size: 3vw;
    }
  }

  .sliders{
    margin-bottom: 5vw;
  }
}
</style>
