<template>
  <div class="login">
    <form ref="form" @submit="auth">
      <p>Вход</p>
      <input type="email" placeholder="E-mail" v-model="login">
      <input type="password" placeholder="Пороль" v-model="password">
      <button type="submit" >Войти</button>
    </form>

  </div>
</template>

<script>
import loginService from "../services/loginService";
export default {
name: "Login",
  data(){
    return{
      login:'',
      password:'',
      token: ''
    }
  },
  methods:{
    async log(){
      const data = new FormData()
      data.set('email', this.login)
      data.set('password', this.password)
      this.token = await loginService.logIn(data)
      if(this.token){
        localStorage.setItem('token', this.token.token)
        localStorage.setItem('name', this.token.name)
        localStorage.setItem('id', this.token.id)
      }
      window.location.reload()
    },
    auth:function (e){
      this.log();
      e.preventDefault();
    }
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/styles/variables";

*{
  color: $blue;
}

.login{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $yellow;
  padding: 5vw;
  border-radius: 20px;

  p, input{
    margin-bottom: 1vw;
  }

  p{
    margin-bottom: 1.5vw;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
  }

  input{
    width: 25vw;
    padding: .52vw 1.04vw;
    border-radius: 15px;
    border: 1px solid $blue;
    background: none;
    transition: .2S;

    &:hover, &:focus{
      color: $yellow;
      background: $blue;
    }
  }

  button{
    width: 10vw;
    padding: .52vw 1.04vw;
    text-align: center;
    margin: 0 auto;
    background: none;
    border: $blue 1px solid;
    transition: .2s;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;

    &:hover{
      background: $blue;
      color: $yellow;
    }
  }
}

</style>
