<template>
  <div>
    <router-link :to="`/categories/${id}`" class="title-categories">
      {{title}}
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="792.033px" height="792.033px" viewBox="0 0 792.033 792.033" style="enable-background:new 0 0 792.033 792.033;"
           xml:space="preserve">
      <g>
        <g id="_x38_">
          <g>
            <path d="M617.858,370.896L221.513,9.705c-13.006-12.94-34.099-12.94-47.105,0c-13.006,12.939-13.006,33.934,0,46.874
              l372.447,339.438L174.441,735.454c-13.006,12.94-13.006,33.935,0,46.874s34.099,12.939,47.104,0l396.346-361.191
              c6.932-6.898,9.904-16.043,9.441-25.087C627.763,386.972,624.792,377.828,617.858,370.896z"/>
          </g>
        </g>
      </g>
      </svg>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "TitleCategoties",
  props:{
    id:{
        required: true,
        type: Number
    },
    title:{
      required: true,
      type: String
    }}
}
</script>

<style scoped lang="scss">
@import "src/assets/styles/variables";

div{
  margin-bottom: 1vw;

  a{
    font-size: 1.77vw;
    color: $blue;
    font-weight: bold;
    transition: .2s;
    text-decoration: none;

    svg{
      opacity: .8;
      width: 1vw;
      height: 1vw;
      transition: 0.3s;
      fill: $blue;
    }

    &:hover{
      color: red;

      svg{
        fill: red;
        margin-left: 1vw;
      }
    }
  }

}

</style>
