<template>
  <header>
    <div class="header-inner container">
      <router-link to="/" class="header-logo">
        <img :src="img" alt=""/>
        <h1>Липецк Афиша</h1>
      </router-link>

      <nav>
        <router-link to="/">Главная</router-link>
        <router-link to="/allposters">Все афиши</router-link>
        <router-link to="/favorite" v-if="showexit">Избранное</router-link>
      </nav>

      <div class="links">
        <div class="links-socials">
          <a href="https://vk.com/lipetskdigital">
            <svg
                enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z" fill="#4b729f"/>
            </svg>
          </a>

          <a href="https://t.me/lipetskdigital">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<circle style="fill:#41B4E6;" cx="255.997" cy="256" r="255.997"/>
              <path style="fill:#0091C8;" d="M512,256.003c0-6.238-0.235-12.419-0.673-18.546L405.228,131.36L106.772,248.759l114.191,114.192
	l1.498,5.392l1.939-1.955l0.008,0.008l-1.947,1.947L348.778,494.66C444.298,457.5,512,364.663,512,256.003z"/>
              <polygon style="fill:#FFFFFF;" points="231.138,293.3 346.829,380.647 405.228,131.36 106.771,248.759 197.588,278.84
	363.331,167.664 "/>
              <polygon style="fill:#D2D2D7;" points="197.588,278.84 222.461,368.344 231.138,293.3 363.331,167.664 "/>
              <polygon style="fill:#B9B9BE;" points="268.738,321.688 222.461,368.344 231.138,293.3 "/>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
</svg>
          </a>

          <a href="https://www.instagram.com/lipetsk.digital/">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
<g>

		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="275.517" y1="4.57" x2="275.517" y2="549.72" gradientTransform="matrix(1 0 0 -1 0 554)">
		<stop  offset="0" style="stop-color:#E09B3D"/>
      <stop  offset="0.3" style="stop-color:#C74C4D"/>
      <stop  offset="0.6" style="stop-color:#C21975"/>
      <stop  offset="1" style="stop-color:#7024C4"/>
	</linearGradient>
  <path style="fill:url(#SVGID_1_);" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722
		c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156
		C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156
		c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722
		c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>

  <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="275.517" y1="4.57" x2="275.517" y2="549.72" gradientTransform="matrix(1 0 0 -1 0 554)">
		<stop  offset="0" style="stop-color:#E09B3D"/>
    <stop  offset="0.3" style="stop-color:#C74C4D"/>
    <stop  offset="0.6" style="stop-color:#C21975"/>
    <stop  offset="1" style="stop-color:#7024C4"/>
	</linearGradient>
  <path style="fill:url(#SVGID_2_);" d="M275.517,133C196.933,133,133,196.933,133,275.516s63.933,142.517,142.517,142.517
		S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6c-48.095,0-87.083-38.988-87.083-87.083
		s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083C362.6,323.611,323.611,362.6,275.517,362.6z"/>

  <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="418.31" y1="4.57" x2="418.31" y2="549.72" gradientTransform="matrix(1 0 0 -1 0 554)">
		<stop  offset="0" style="stop-color:#E09B3D"/>
    <stop  offset="0.3" style="stop-color:#C74C4D"/>
    <stop  offset="0.6" style="stop-color:#C21975"/>
    <stop  offset="1" style="stop-color:#7024C4"/>
	</linearGradient>
  <circle style="fill:url(#SVGID_3_);" cx="418.31" cy="134.07" r="34.15"/>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
              <g>
</g>
</svg>
          </a>
        </div>

        <div class="container-auth">
          <router-link class="links-login" to="/login" v-if="!showexit">Войти</router-link>
          <router-link class="links-login" to="/registration" v-if="!showexit">Регистрация</router-link>
          <p @click="logout" class="links-login" v-else>Выйти</p>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import loginService from "../services/loginService";
export default {
name: "Header",
  data(){
    return{
      img: require('@/assets/temp/logo.png'),
      showexit:''
    }
  },
  methods:{
    async logout(){
      await loginService.logout()
      localStorage.token = ''
      localStorage.name = ''
      window.location.reload();
    }
  },
  created() {
    if(localStorage.token !== ''){
      this.showexit = true
    }
    else{
      this.showexit = false
    }
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/styles/variables";

header {
  background: $yellow;

  .header-inner {

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        width:4vw;
      }

      h1{
        font-size: 1.75vw;
        font-weight: 600;
        color: $blue;
      }
    }

    nav{
      display: flex;
      align-items: center;

      a{
        text-decoration: none;
        font-size: 1.14vw;
        font-weight: 500;
        line-height: 170%;
        margin-right: 2vw;
        color: $blue;
      }
    }

    .links {
      display: flex;
      align-items: center;

      .links-socials {
        display: flex;
        align-items: center;
        margin-right: 1.04vw;

        a {
          margin-right: 1.04vw;

          svg {
            width: 1.56vw;
          }
        }
      }

      .links-login {
        text-decoration: none;
        color: $blue;
        font-size: 1.04vw;
        line-height: 150%;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
.container-auth{
  display: flex;

  a{
    margin-right: 1vw;
  }
}

</style>
