<template>
  <div class="container-poster">
    <img src="@/assets/img/heart.svg" class="like" v-if="!like_chek && show_like" @click="clickLike">
    <img src="@/assets/img/heart_fill.svg" class="like" v-else-if="show_like" @click="clickLike" >
    <div class="wrapper-poster" @mouseup="link" @mousedown="click">
      <article class="image" :style="`background-image: url(${slide.image}); width: ${width}vw; height: ${height}vw`"></article>
        <h2>{{slide.title}}</h2>
        <p>{{slide.date.lower}}</p>
    </div>
  </div>
</template >

<script>
import favotiteService from "../services/favotiteService";
export default {
  name: "Poster",
  data(){
    return{
      active_check: false,
      like_chek: false,
      date: "",
      image: "",
      show_like: false
    }
  },
  props:{
    slide:{
      required: true,
      type: Object
    },
    width:{
      required: true,
      type: Number
    },
    height:{
      required: true,
      type: Number
    }
  },
  methods:{
    click(){
      this.active_check = true
      setTimeout(() => { this.active_check = false}, 120);
    },
    link(){
      if(this.active_check)
        this.$router.push(`/detailposters${this.slide.id}`)
      this.active_check=true
    },
   async clickLike(){
      this.like_chek = !this.like_chek
     const data = new FormData()
     data.set('user_id', localStorage.id)
     data.set('poster_id', this.slide.id)
      if(this.like_chek){
        await favotiteService.addFavorite(data)
      }
      else{
        await favotiteService.deletFavorite(data)
      }
    }
  },
  created() {
    if(localStorage.token !== ''){
      this.show_like = true
    }
    if(this.slide.is_liked){
      this.like_chek=true
    }
    else{
      this.like_chek=false
    }
    if(this.slide.date){
      if(this.slide.date.upper){
        this.date = this.slide.date.upper
      }
    }
    if(this.slide.image){
      this.image = this.slide.image
    }
    else{
      this.slide.image = require('../assets/temp/2.png')
    }
  }
}
</script>

<style scoped lang="scss">
.container-poster{
  position: relative;
  margin-right: 1vw;

  .like{
    position: absolute;
    display: block;
    z-index: 1;
    width: 1.2vw;
    height: 3vw;
    top: 1%;
    right: 6%;
    opacity: 0.8;
  }
  .like:hover{
    opacity: 1;
    transition: 0.14s;
    width: 1.5vw;
    top: 1%;
    right: 5.5%;
  }
}
.wrapper-poster{
  cursor: pointer;
  .link{
    text-decoration: none;
  }
  h2{
    font-size: 1.25vw;
    margin-top: 0.5vw;
    font-family: "YS Text", Arial, sans-serif;
  }
  P{
    font-size: 0.83vw;
    margin-top: 0.5vw;
    color: rgba(0, 0, 0, 0.5);
    font-family: "YS Text", Arial, sans-serif;
  }
}
  .image {
    overflow: hidden;
    border-radius: .7vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .container-poster{

      .like{
        width: 2vw;
        height: 3.5vw;
      }
    }

    .wrapper-poster{
      h2{
        font-size: 1.7vw;
        margin-top: 1vw;
      }

      P{
        font-size: 1.25vw;
        margin-top: 0;
      }
    }
  }
</style>
