<template>
  <div>
  <hooper
      :itemsToShow="4" class="slider"  ref="carousel" :trimWhiteSpace="true" :infiniteScroll="true"
      :autoPlay="true" :playSpeed="3000" :progress="true" v-if="active_slide"
  >
    <slide v-for="(slide, index) in data" :key="index" :index="index" >
      <div class="slide">
        <poster :slide="slide" :width="18.2" :height="17"></poster>
      </div>
    </slide>
  </hooper>
    <div class="slide-posters" v-if="!active_slide">
      <poster :slide="slide" :width="18.2" :height="17" v-for="(slide, index) in data" :key="index"></poster>
    </div>
  </div>
</template>

<script>
import { Hooper, Slide, Pagination as HooperPagination} from 'hooper';
import 'hooper/dist/hooper.css';
import Poster from "@/components/Poster";
export default {
  name: "Slider",
  data(){
    return{
      active_slide:true
    }
  },
  props:{
    data:{
      required: true,
      type: Array
    }
  },
  created() {
    if(this.data.length < 5){
      this.active_slide = false
    }
    else{
      this.active_slide = true
    }
  },
  components:{Hooper, Slide,  HooperPagination, Poster}
}
</script>

<style scoped lang="scss">
.slider{
  width: auto;
  height: auto;
  outline: none;
}
.slide-posters{
  display: flex;
}
</style>
