<template>
  <div id="app">
    <Header/>
    <main>
      <router-view/>
    </main>
    <Footer/>
  </div>
</template>

<script>

  import Header from "@/components/Header";
  import Footer from "./components/Footer";

  export default {
    name: "app",
    components: {
      Footer,
      Header
    },
  }
</script>

<style lang="scss">

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button, select, option, a, input, textarea{
  outline: none;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  width: 75vw;
  margin: 0 auto;
}

html,body,#app{
  width: 100%;
  height: 100%;
}

header{
  flex: auto 0 0 0;
}

footer{
  flex: 0 0 auto 0;
}

main{
  flex: auto;
  padding: 1.04vw 0;
}
img{
  width: 100%;
  height: 100%;
}
</style>

